* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

main {
  display: flex;
  inline-size: 100%;
  block-size: 100vh;
}

.articulos {
  inline-size: 50%;
  padding: 50px 100px;
  background-color: #d3e4fa;
}

.articulo {
  margin-bottom: 75px;
  border-bottom: 3px solid #3a83f0;
}
.articulo__categoria {
  font-size: 16px;
  font-weight: 700;
  color: #3a83f0;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.articulo__titulo {
  margin: 0;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.articulo__descripcion {
  margin-bottom: 30px;
  padding-right: 100px;
}