// Global variables
$fuente1: "Lato", sans-serif;
$fuente2: "Oswald", sans-serif;
$color-primario: #333333;
$color-claro: #ffffff;
$color-secundario: #8841da;
$color-variacion: #3f579a;
$color-cajas-alternate: #15083f;
$color-bg-profile: #3a83f0;
$color-bg-articles: #d3e4fa;

//Mixins
@mixin caja {
	border-radius: 20px;
	box-shadow: 0px 20px 33px 5px rgba($color-cajas-alternate, 0.5);
	color: $color-claro;
	background-color: $color-cajas-alternate;
}

//Functions
@function get-opacity($color, $alpha) {
	@return rgba($color, $alpha);
}

//Conditionals
@mixin titulos($fuente) {
	@if $fuente == $fuente1 {
		font-family: $fuente1;
	} @else {
		font-family: $fuente2;
		text-transform: uppercase;
	}
}

//Tener 3 colores como máximo y 2 fuentes como máximo
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	@include titulos($fuente1);
}

main {
	display: flex;
	inline-size: 100%;
	block-size: 100vh;
}
