* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

main {
  display: flex;
  inline-size: 100%;
  block-size: 100vh;
}

.perfil {
  inline-size: 50%;
  padding-top: 50px;
  color: #ffffff;
  background-color: #5e9af5;
}
.perfil__avatar {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}
.perfil__nombre, .perfil__minibio h2 {
  font-size: 20px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.perfil__titulo, .perfil__minibio h3 {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}
.perfil__boton {
  margin: 15px auto;
  padding-block-start: 6px;
  inline-size: 100px;
  block-size: 40px;
  display: block;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  color: #ffffff;
  background-color: rgba(94, 154, 245, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.5);
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.estadistica--perfil {
  margin: 0 auto;
  inline-size: 50%;
  block-size: 90px;
  display: flex;
  justify-content: space-around;
  border-radius: 20px;
  box-shadow: 0px 20px 33px 5px rgba(21, 8, 63, 0.5);
  color: #ffffff;
  background-color: #15083f;
}
.estadistica--perfil h3 {
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.estadistica--perfil span {
  font-size: 12px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.ubicacion--perfil {
  margin: 30px auto 0;
  padding: 20px 0 0 50px;
  inline-size: 50%;
  block-size: 90px;
  display: flex;
  border-radius: 20px;
  box-shadow: 0px 20px 33px 5px rgba(21, 8, 63, 0.5);
  color: #ffffff;
  background-color: #15083f;
}
.ubicacion--perfil i {
  padding-right: 10px;
  display: block;
  font-size: 40px;
  color: #3f579a;
}
.ubicacion--perfil h2 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.ubicacion--perfil h3 {
  margin: 0;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.perfil__minibio {
  margin: 0 auto;
  padding-top: 20px;
}
.galeria {
  margin: 30px auto;
  padding: 20px 50px;
  inline-size: 50%;
  block-size: 250px;
  border-radius: 20px;
  box-shadow: 0px 20px 33px 5px rgba(21, 8, 63, 0.5);
  color: #ffffff;
  background-color: #15083f;
}
.galeria .foto-container {
  display: flex;
}
.galeria__foto-principal {
  margin-right: 10px;
}
.galeria__fotos-adicionales {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.galeria__fotos-adicionales img {
  margin-right: 5px;
  margin-bottom: 5px;
  block-size: 70px;
}
.galeria h2 {
  margin-bottom: 10px;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.galeria img {
  border-radius: 10px;
}