@use "globales";

.perfil {
	inline-size: 50%;
	padding-top: 50px;
	color: globales.$color-claro;
	background-color: globales.$color-bg-profile;
	&__avatar {
		display: block;
		margin: 0 auto;
		border-radius: 50%;
	}

	&__nombre {
		font-size: 20px;
		text-align: center;
		@include globales.titulos(globales.$fuente2);
	}

	&__titulo {
		font-size: 12px;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
		color: globales.get-opacity(globales.$color-claro, 0.5);
	}

	&__boton {
		margin: 15px auto;
		padding-block-start: 6px;
		inline-size: 100px;
		block-size: 40px;
		display: block;
		text-align: center;
		text-decoration: none;
		border-radius: 20px;
		color: globales.$color-claro;
		background-color: globales.get-opacity(globales.$color-bg-profile, 0.5);
		border: 2px solid globales.get-opacity(globales.$color-claro, 0.5);
		@include globales.titulos(globales.$fuente2);
	}
}

.estadistica--perfil {
	margin: 0 auto;
	inline-size: 50%;
	block-size: 90px;
	display: flex;
	justify-content: space-around;
	@include globales.caja;
	h3 {
		margin-bottom: 0; //Agregado
		font-size: 20px;
		font-weight: 600;
		text-align: center;
		@include globales.titulos(globales.$fuente2);
	}

	span {
		font-size: 12px;
		text-align: center;
		color: globales.get-opacity(globales.$color-claro, 0.5);
		@include globales.titulos(globales.$fuente2);
	}
}

.ubicacion--perfil {
	margin: 30px auto 0;
	padding: 20px 0 0 50px;
	inline-size: 50%;
	block-size: 90px;
	display: flex;
	@include globales.caja;
	i {
		padding-right: 10px;
		display: block;
		font-size: 40px;
		color: globales.$color-variacion;
	}

	h2 {
		margin: 0;
		font-size: 20px;
		font-weight: 600;
		@include globales.titulos(globales.$fuente2);
	}

	h3 {
		margin: 0;
		font-size: 12px;
		color: globales.get-opacity(globales.$color-claro, 0.5);
		@include globales.titulos(globales.$fuente2);
	}
}

.perfil__minibio {
	margin: 0 auto;
	padding-top: 20px;
	h2 {
		@extend .perfil__nombre;
	}

	h3 {
		@extend .perfil__titulo;
	}
}

.galeria {
	margin: 30px auto;
	padding: 20px 50px;
	inline-size: 50%;
	block-size: 250px;
	@include globales.caja;

	.foto-container {
		display: flex;
	}

	&__foto-principal {
		margin-right: 10px;
	}

	&__fotos-adicionales {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}

	&__fotos-adicionales img {
		margin-right: 5px;
		margin-bottom: 5px;
		block-size: 70px;
	}

	h2 {
		margin-bottom: 10px;
		font-family: globales.$fuente2;
		font-size: 20px;
		font-weight: 600;
		text-transform: uppercase;
	}

	img {
		border-radius: 10px;
	}
}
